.filters{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.filters button {
    background: #ff5a5f;
    border: none;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-size: 18px;
    height: 48px;
    margin: 12px 30px;
    width: 20%;
}

.filters button:hover {
    opacity: 0.9;
}

.locations,
.ammenities {
    height: 100%;
    width: 25%;
    display: inline-block; 
    justify-content: center;
    /* align-items: flex-start; */
    padding: 0 20px;
    position: relative;
    cursor: pointer;

}

.locations{
    border-right: 1px solid #ddd ;
}

.filters h2,
.filters h3,
.filters h4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.filters h3{
    font-weight: 600;
    margin-bottom: -15px;
}

.filters h4 {
    font-size: 14px;
    font-weight: 400;
  }



 .popover{
    visibility: hidden;
    position: absolute;
    display: none;
    background-color: #FAFAFA;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    /* margin-top: 7%; */
    /* padding-bottom: 10%; */
    /* z-index: auto; */
    /* list-style: none; */
}

.locations:hover > .popover,
.ammenities:hover > .popover{
    visibility: visible;
    display: block;
}

.filters .locations ul {
    padding: 6px 0 6px 0;
    position: relative;
  }
  
  .filters .locations li {
    margin: 0 auto 6px 3em;
    position: relative;
  }
  
  .filters .ammenities ul {
    position: relative;
  }
  .filters .ammenities li {
    margin: 12px auto 12px 30px;
    position: relative;
  }